.dos{
    text-align: center;
    margin: auto;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.753);
}
.uno{
    background: lightblue url(/assets/css/3.jpg) left top / 150px;
    //background: rgba(255, 0, 0, 0.452);
}
h1{
    color: black;
    font-weight: 900;
    text-shadow: white;
}