.uno{
    background-color: black;
}
.dos{
    text-align: center;
    margin: auto;
    width: 700px;
}
h3{
    text-align: center;
    color: white;
    margin: auto;
    width: 700px;
}
h1{
    text-align: center;
    color: white;
    margin: auto;
    width: 700px;
}