.dos{
    text-align: center;
    margin: auto;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.473);
}
.uno{
    background: lightblue url(/assets/css/2.jpeg) left top / 250px;
    //background: rgba(255, 0, 0, 0.452);
}
h1{
    color: black;
    font-weight: 900;
    text-shadow: white;
}
img{
    display:block;
    margin:auto;
    }