.uno{
    background: lightblue url(/assets/css/6.jpg) left top / 250px;
}
.dos{
    margin: auto;
    width: 707px;
    background-color: rgba(255, 255, 255, 0.753);
}
h1{
    text-align: center;
    color: red;
    margin: auto;
    width: 700px;
}