.dos{
    text-align: center;
    margin: auto;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.473);
}
.uno{
    background: lightblue url(/assets/css/4.jpg) ;
    //background: rgba(255, 0, 0, 0.452);
}
h1{
    color: black;
    font-weight: 900;
    text-shadow: white;
}
.tres{
    margin: auto;
    width: 349px;
    background-color: rgba(255, 255, 255, 0.473);
}